<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']">
    <mat-icon>pie_chart</mat-icon>
    Overview
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>aspect_ratio</mat-icon> Tickets</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>highlight</mat-icon> Ideas</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>contacts</mat-icon> Contacts</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>person</mat-icon> Agents</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>inbox</mat-icon> Articles</a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>settings</mat-icon> Settings</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> <mat-icon>person_outline</mat-icon> Subscription</a>

</mat-nav-list>

